name: Run Wohnungssuche

on:
  schedule:
    - cron: '0 */5 * * *'
    
#  push:
#    branches:
#      - main

  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    env:
      RUN_MODE: "wohnung"


    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        env:
          API_KEY: ${{ secrets.API_KEY }}
          USER_ID: ${{ secrets.USER_ID }}
          TZ: Europe/Berlin
        run: |
          python runme.py

      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          if [ -n "$(git status --porcelain)" ]; then
            git add .
            git commit -m "Checked for flats"
            git push
          else
            echo "No changes to commit"
          fi
